<!DOCTYPE html>
<html>
<head>
  <title>Droppit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>
	<header>
		<%= link_to 'Home', root_path %>
  
  	<% if user_signed_in?%>
  			<p class="cur_user">Current User: <%= current_user.email %></p>
  			<p class="cur_user"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></p>
  		</select>
  	<% else %>
  		<p class="cur_user">Current User: <a href="/users/auth/dropbox_oauth2">Login</a></p>
  	<% end %>

		<h1>Droppit</h1>
	</header>

	<main>
		<p class="notice"><%= notice %></p>
 		<p class="alert"><%= alert %></p>
		<%= yield %>
	</main>

	<% if user_signed_in? %>
		<p>View your <%= link_to "inboxes", inboxes_path %>.</p>
	<% end %>

	<footer>
		&copy;2016 <a href="https://www.rubyrampage.com/entries/200-def-gem" target="_blank">Team Def Gem</a>
		<br><br>
		<a href="https://twitter.com/bphogan" target="_blank">@bphogan</a>, <a href="https://twitter.com/JessicaTStodola" target="_blank">@JessicaTStodola</a>, &amp; <a href="https://twitter.com/Alex_Henry21" target="_blank">@Alex_Henry21</a>
	</footer>

</body>
</html>
