<!DOCTYPE html>
<html>
<head>
  <title>Droppit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<%= link_to 'Home', root_path %>

</head>

<body>
	<header>
		<h1>Droppit</h1>
	</header>

	<main>
		<p class="notice"><%= notice %></p>
 		<p class="alert"><%= alert %></p>
		<%= yield %>
	</main>

	<footer>
		<hr>
		&copy;2016 <a href="https://twitter.com/bphogan">@bphogan</a>, <a href="https://twitter.com/JessicaTStodola">@JessicaTStodola</a>, &amp; <a href="https://twitter.com/Alex_Henry21">@Alex_Henry21</a>
	</footer>

</body>
</html>
